Repository oskarchik/podcaster: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write

.lintstagedrc.json:

{
	"**/*.{js,jsx}": ["npm run lint:fix", "prettier --write"],
	"**/*.json": "prettier --write"
}

refactor(controls): create Controls component from AudioPlayer component
  src/components/Controls/Controlos.styled.js
  src/components/Controls/Controls.jsx
Due: npm run lint:fix, prettier --write

refactor(audioplayer): use Controls component instead panel div
  src/components/AudioPlayer/AudioPlayer.jsx
  src/components/AudioPlayer/AudioPlayer.styled.js
Due: npm run lint:fix, prettier --write

refactor(components): add Controls component to components/index.js
  src/components/index.js
Due: npm run lint:fix, prettier --write

refactor(audioplayer): extract calculateTime function to its own file
  src/utils/calculateTime.js
Due: npm run lint:fix, prettier --write

refactor(utils): change millisToDuration to arrow function
  src/utils/millisToDuration.js
Due: npm run lint:fix, prettier --write

style(aside): remove unnecessary console.log
  src/components/Aside/Aside.jsx
Due: npm run lint:fix, prettier --write

fix(episode): assure a description is rendered
  src/pages/Episode/Episode.jsx
Due: npm run lint:fix, prettier --write

Refactor/audio player (#14)
  src/components/Aside/Aside.jsx
  src/components/AudioPlayer/AudioPlayer.jsx
  src/components/AudioPlayer/AudioPlayer.styled.js
  src/components/Controls/Controlos.styled.js
  src/components/Controls/Controls.jsx
  src/components/index.js
  src/pages/Episode/Episode.jsx
  src/utils/calculateTime.js
  src/utils/millisToDuration.js
Due: npm run lint:fix, prettier --write

feat(audioplayer): add spinner when loading audio file
  src/components/AudioPlayer/AudioPlayer.jsx
Due: npm run lint:fix, prettier --write

fix(utils): render 0:00 instead of NaN:NaN when loading audio file
  src/utils/calculateTime.js
Due: npm run lint:fix, prettier --write

Refactor/audio player (#15)
  src/components/AudioPlayer/AudioPlayer.jsx
  src/utils/calculateTime.js
Due: npm run lint:fix, prettier --write

refactor(usefetch): refactor useFetch to include getEpisodes logic and reuse hook
  src/hooks/useFetch.js
Due: npm run lint:fix, prettier --write

refactor(table): modify prop episodes
  src/components/Table/Table.jsx
Due: npm run lint:fix, prettier --write

refactor(home): use useFetch with new arguments required
  src/pages/Home/Home.jsx
Due: npm run lint:fix, prettier --write

refactor(podcast): change getEpisode functionality for useFetch hook
  src/pages/Podcast/Podcast.jsx
Due: npm run lint:fix, prettier --write

Refactor/use fetch (#16)
  src/components/Table/Table.jsx
  src/hooks/useFetch.js
  src/pages/Home/Home.jsx
  src/pages/Podcast/Podcast.jsx
Due: npm run lint:fix, prettier --write

fix(workflows): add missing quotes cache npm
  .github/workflows/lint.yml
Due: none

style(components-pages): reorder import to follow a import convention
  src/App.jsx
  src/components/Aside/Aside.jsx
  src/components/AudioPlayer/AudioPlayer.jsx
  src/components/Controls/Controls.jsx
  src/components/Grid/Grid.jsx
  src/components/Header/Header.jsx
  src/components/PodcastLayout/PodcastLayout.jsx
  src/components/Table/Table.jsx
  src/pages/Episode/Episode.jsx
  src/pages/Home/Home.jsx
  src/pages/Podcast/Podcast.jsx
Due: npm run lint:fix, prettier --write

style(styled-components): reorder css properties to follow an order convention
  src/components/Aside/Aside.styled.js
  src/components/Controls/Controls.styled.js
  src/components/Header/Header.styled.js
  src/components/Search/Search.styled.js
  src/components/Table/Table.styled.js
  src/components/index.js
Due: npm run lint:fix, prettier --write

Style/app (#17)
  src/App.jsx
  src/components/Aside/Aside.jsx
  src/components/Aside/Aside.styled.js
  src/components/AudioPlayer/AudioPlayer.jsx
  src/components/Controls/Controls.jsx
  src/components/Controls/Controls.styled.js
  src/components/Grid/Grid.jsx
  src/components/Header/Header.jsx
  src/components/Header/Header.styled.js
  src/components/PodcastLayout/PodcastLayout.jsx
  src/components/Search/Search.styled.js
  src/components/Table/Table.jsx
  src/components/Table/Table.styled.js
  src/components/index.js
  src/pages/Episode/Episode.jsx
  src/pages/Home/Home.jsx
  src/pages/Podcast/Podcast.jsx
Due: npm run lint:fix, prettier --write

Develop (#18)
  .github/workflows/lint.yml
  src/App.jsx
  src/components/Aside/Aside.jsx
  src/components/Aside/Aside.styled.js
  src/components/AudioPlayer/AudioPlayer.jsx
  src/components/Controls/Controls.jsx
  src/components/Controls/Controls.styled.js
  src/components/Grid/Grid.jsx
  src/components/Header/Header.jsx
  src/components/Header/Header.styled.js
  src/components/PodcastLayout/PodcastLayout.jsx
  src/components/Search/Search.styled.js
  src/components/Table/Table.jsx
  src/components/Table/Table.styled.js
  src/components/index.js
  src/hooks/useFetch.js
  src/pages/Episode/Episode.jsx
  src/pages/Home/Home.jsx
  src/pages/Podcast/Podcast.jsx
  src/utils/calculateTime.js
  src/utils/millisToDuration.js
Due: npm run lint:fix, prettier --write

fix: upgrade react-router-dom from 6.9.0 to 6.10.0
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade styled-components from 5.3.9 to 5.3.10
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade dexie-react-hooks from 1.1.3 to 1.1.4
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade dexie from 3.2.3 to 3.2.4
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade styled-icons from 10.47.0 to 10.47.1
  package-lock.json
  package.json
Due: prettier --write

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: prettier --write
